DEBUG=False
SECRET_KEY="django-insecure-j_@@@vs6pp@i1s+e@f42r3hap4l(e-6u)%-0@*0_imxo7@4i2s"

DB_ENGINE=django.db.backends.postgresql
DB_NAME=powerflex
DB_USER=postgres
DB_PASSWORD=Abcd@1234
DB_HOST=localhost
DB_PORT=5432

PYTHONIOENCODING=utf-8

EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST = "smtp.gmail.com"  # Example for Gmail
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = "your-email@gmail.com"
EMAIL_HOST_PASSWORD = "your-email-password"  # Use app password if 2FA is enabled
DEFAULT_FROM_EMAIL = "your-email@gmail.com"